
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;

}

.img-block{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.img{
    display: flex;
    /* width: 10%;
    height: 10%; */
    max-width: 15%;
    max-height: 15%;
    border-radius: 100%;
    justify-content: center;
    background-color: blue;
    border: 2px solid black;
}

.img-c{
    display: flex;
    flex-direction: row;
    max-width: 4rem;
    max-height: 4rem;
    justify-content: center;
    padding-left: 1rem;
    margin-top: 0.3rem;

    /* padding-right: 18rem; */
}

.card{
    display: flex;
    background-color:#061b25bf;
    margin-top: 1.7rem;
    width: 55rem;
    height: 4.4rem;
    border-radius: 0.7rem;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding-left: 19rem;

}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 868px){
    .card{
        display: flex;
        background-color:#061b25bf;
        margin-top: 1.7rem;
        width: 30rem;
        height: 4.4rem;
        border-radius: 0.7rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        padding-left: 7rem;
    
    }
}

@media screen and (max-width: 375px){
    .card{
        display: flex;
        background-color:#061b25bf;
        margin-top: 1.7rem;
        width: 20rem;
        height: 3.4rem;
        border-radius: 0.7rem;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }

    .h1{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        padding-left: 2rem;
        font-size: 1.5rem;
    
    }

    .img{
        display: flex;
        max-width: 10%;
        max-height: 10%;
        border-radius: 100%;
        justify-content: center;
        border: 2px solid black;
    }
}